<!doctype html>
<html class="no-js" lang="en-US">

<!-- Mirrored from worldexpertsvipdextrades.com/contact by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Oct 2024 09:41:30 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" 
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" rel="icon" type="image/x-icon" />
<!-- Add icon library -->
<link rel="stylesheet" href="../use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="temp/custom/css/bootstrap.min.css">


<link href="temp/custom/flaticon/flaticon.css" rel="stylesheet" />
<link href="temp/custom/themify/themify-icons.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="temp/custom/slick/slick.css">
<link rel="stylesheet" type="text/css" href="temp/custom/slick/slick-theme.css">

<!-- jQuery library -->
<script src="temp/custom/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="temp/custom/js/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="temp/custom/js/bootstrap.min.js"></script>
<script src="temp/custom/js/jquery.form.js"></script>

<script src="temp/custom/js/moment.js"></script>
<script src="temp/custom/js/livestamp.min.js"></script>
<!-- <script src="404"></script> -->
<script src="temp/custom/js/imagesloaded.pkgd.min.js"></script>

<link href="temp/custom/css/main.css" rel="stylesheet"/>
<link href="temp/custom/css/animate.css" rel="stylesheet" />
<link rel="stylesheet" href="temp/custom/css/intlTelInput.css">

<title>World Experts Vip</title>
<link rel="manifest" href="temp/custom/js/manifest.json">
<meta name="theme-color" content="#4D7DE6">
<meta name="msapplication-navbutton-color" content="#4D7DE6">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4D7DE6">


<meta name="theme-color" content="#4D7DE6">
<meta name="msapplication-navbutton-color" content="#4D7DE6">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4D7DE6">

<link href="storage/app/public/photos/37JcsYl94kV4PHrgpd3oURY5mftnmOcCPXO0KfBn.png" rel="icon" type="image/x-icon" />
<!-- <link rel="icon" sizes="192x192" href="404"> -->

<meta name="keywords" content="SignalminigBTC" />
<meta property="og:image" content="https://worldexpertsvipdextrades.com/temp/custom/images/metaimage.png" />

<meta name="msapplication-square310x310logo" content="https://worldexpertsvipdextrades.com/temp/custom/images/metaimage.png">
<meta name="msapplication-square70x70logo" content="https://worldexpertsvipdextrades.com/temp/custom/images/metaimage.png">
<meta name="msapplication-square150x150logo" content="https://worldexpertsvipdextrades.com/temp/custom/images/metaimage.png">
<meta name="msapplication-wide310x150logo" content="https://worldexpertsvipdextrades.com/temp/custom/images/metaimage.png">

<link rel="apple-touch-icon-precomposed" href="temp/custom/images/icon/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="404.html" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="404.html" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="temp/custom/images/metaimage.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="temp/custom/images/metaimage.png" />


<meta property="og:site_name" content="SignalminigBTC">
<meta property="og:title" content="Trading With SignalminigBTC" />
<meta name="description" content="World Experts Vip Limited offers premier trading and investment services in the UK, specializing in Forex, cryptocurrencies, stocks, commodities, oil & gas, and real estate. We provide market research and analysis, assisting both individuals and companies in commercial market investments. Our training programs empower clients and investors to become experts in their fields.">
<meta property="og:description" content="World Experts Vip Limited offers premier trading and investment services in the UK, specializing in Forex, cryptocurrencies, stocks, commodities, oil & gas, and real estate. We provide market research and analysis, assisting both individuals and companies in commercial market investments. Our training programs empower clients and investors to become experts in their fields.">
<meta property="og:type" content="website" />

<script src="temp/custom/js/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="temp/custom/css/bootstrap-select.css">
</head>

<style>
/*CUSTOM POPUP CSS*/
  .custom-popup-container {
            display: flex;
            flex-direction: row;
            font-weight: bolder;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #242526;
            font-size: 13px;
            border-radius: 5px;
            width: 260px;
            align-items: center;
            color: #fff;
            box-shadow: 5px 5px 10px #000;
            position: fixed;
            top: 200px;
            z-index: 1000;
            max-height: 70px;
            height: 70px;
        }
        .popup-logo {
            width: 100px;
        }
        .popup-image-item {
            background-color: #fff;
            margin: 0;
        }
        .popup-text-item {
            margin-left: 10px;
            padding: 4px;
        }
        .popup-amount, #popup-country, #popup-username {
            color: rgb(29, 224, 65);
        }
</style>

<body>


              <!--CSTOM POPUP HTML START!-->

              <div class="custom-popup-container" id="custom-popupContainer">
        <div class="popup-image-item"><img class="popup-logo" src="/storage/app/public/photos/logo.png"></div>
        <div class="popup-text-item">
            <span id="popup-username"></span> from <span id="popup-country"></span> just earned <span class="popup-amount">$<span id="popup-amount"></span></span>
        </div>
    </div>
    
    <!--CUSTOM POPUP HTML END!-->
    
<div style="background-color: #333;">
  <div class="container small">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
      </div>
      <div class="py-1"><a href="mailto:support@SignalminigBTC.com" class="text-light"><i class="fas fa-envelope"></i> support@SignalminigBTC.com</a></div>
    </div>
  </div>
</div>
<header class="sticky-top py-2 bg-white">
  <nav class="navbar navbar-expand-md navbar-light text-dark">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand mr-auto p-0 wow slideInLeft " href="/">
        <img src="storage/app/public/photos/jt5F9AflWqDuOlrmeOLit6ZMaaRT9Shcr1TsWOye.png" title="World Experts Vip" style="height: 35px"/>
      </a>
    

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-md-5 ml-auto wow slideInLeft">
          <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/company-license">License & Registeration</a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.blockchain.com/" target="_blank">Buy Crypto <span class="badge badge-danger">HOT</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="/faqs">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          
            <a href="/register" class="btn btn-outline-dark my-2">GET STARTED NOW!</a>        </form>
      </div>
      
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button">
        <img src="temp/custom/images/menu.svg" style="height: 50px" alt="">
      </button>
    </div>
  </nav>
</header>

<div class="shadow-sm bg-white">
  <script src="../widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
  <coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#fff" locale="en" font-color="#333"></coingecko-coin-price-marquee-widget>
  </div>
  
  <div class="overlay closeMenu"></div>
  <div class="account-sidebar udex-collapse shadow-lg p-0" id="mySidebar">
    <div class="account-header px-3 py-3">
      
        <div class="d-flex">
          <div class="font-weight-bold text-dark mr-auto" style="font-size: 20px;">World Experts Vip</div>
          <button class="navbar-toggler btn btn-link text-dark"><i class="fas fa-times"></i></button>
        </div>
      
    </div>
    <div style="height: calc(100% - 64px); overflow:auto">
    <ul class="nav divider p-0">
    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/company-license">License & Registeration</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.blockchain.com/" target="_blank">Buy Crypto <span class="badge badge-danger">HOT</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="/faqs">FAQ</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
    </ul>
    <div class="p-3">
    
              <a href="/login" class="btn btn-primary my-2 btn-block">LOGIN</a>
              <a href="/register" class="btn btn-primary my-2 btn-block">SIGNUP</a>  </div>
    </div>
  </div>
  <script>
    $(".navbar-toggler").click( function(){
      $("#mySidebar").toggle({ direction: "left" }, 1000);
      $(".closeMenu").fadeToggle();
    });
    $(".closeMenu").click( function(){
      $("#mySidebar").toggle({ direction: "left" }, 1000);
      $(".closeMenu").fadeToggle();
    });
    $('#mySidebar a[href!=""]').click(function(){
      $("#mySidebar").toggle({ direction: "left" }, 1000);
      $(".closeMenu").fadeToggle();
    })
    </script>
    <style>
      .cg-container {
        border: 0 !important;
      }
      .skiptranslate {
        display: none !important;
      }
      body {
        top: 0 !important;
      }
    </style>
    <style>
    .slick-dots{bottom: 10px !important; right: 10px !important;}
    .slick-dots li button:hover:before,.slick-dots li button:focus:before{color:#05ae5a;}
    .slick-dots li button:before{font-size: 12px;}
    .slick-dots li.slick-active button:before{color:#05ae5a; font-size: 20px;}
    .slick-dots li.slick-active button:before{opacity: 1;}
    .slick-dotted.slick-slider{ margin-bottom: 0px;}
    </style>
    
    <script>
    var nav = $('.sticky-top');
    nav.addClass('py-2');
    nav.removeClass('shadow-sm');
    /*--window Scroll functions--*/
    $(window).on('scroll', function () {
      /*--show and hide scroll to top --*/
      if ($(window).scrollTop() > 100) {
        nav.removeClass('py-2');
        nav.addClass('shadow-sm');
      } else {
        nav.addClass('py-2');
        nav.removeClass('shadow-sm');
      }
    });
    </script>
    <script>
      function functionConfirm(msg, myYes, myNo) {
        var confirmBox = $("#confirm");
        confirmBox.find(".message").text(msg);
        confirmBox.find(".yes,.no").unbind().click(function() {
          confirmBox.fadeOut();
        });
        confirmBox.find(".yes").click(myYes);
        confirmBox.find(".no").click(myNo);
        confirmBox.fadeIn();
      }
    </script>
    <div id="confirm">
      <div class="shadow rounded container border">
          <div class="message p-3"></div>
          <div class="text-right border-top p-3 bg-light">
            <button aria-label="Yes" class="btn btn-primary yes">Yes</button>
            <button aria-label="No" class="btn btn-danger no">No</button>
          </div>
      </div>
    </div>

   
<section class="hero-section">
    <div class="container">
        <h1>Contact Us</h1>
    </div>
    <style>
        body {background-color: #f5faff;}
    </style>
    </section>
        <div class="container">
            <div class="row text-center my-5">
                                <div class="col-md py-3">
                        <span class="p-3 d-inline-block rounded shadow-sm text-primary bg-white">
                            <i class="fas fa-phone fa-2x"></i>
                        </span>
                        <h5 class="my-3">Phone Number</h5>
                        <p class="text-muted">tel:</p>
                    </div>
                            <div class="col-md py-3">
                    <span class="p-3 d-inline-block rounded shadow-sm text-primary bg-white">
                        <i class="fas fa-envelope fa-2x"></i>
                    </span>
                    <h5 class="my-3">Email</h5>
                    <p class="text-muted"><a href="mailto://support@worldexpertsvipdextrades.com">support@worldexpertsvipdextrades.com</a></p>
                </div>
                                <div class="col-md py-3">
                        <span class="p-3 d-inline-block rounded shadow-sm text-primary bg-white">
                            <i class="fas fa-map-marker-alt fa-2x"></i>
                        </span>
                        <h5 class="my-3">Address</h5>
                        <p class="text-muted">SignalminigBTC Company reg 22747 IBC 2015 with registered address Suite 305, Griffith Corporate Centre, P.O. Box 1510, Beachmont Kingstown, St. Vincent and the Grenadines.SignalminigBTC SA (PTY) Ltd Company reg. No.2015/341406/07 with registered address Katherine & West Suite 18 Second floor 114 West Street Sandton, Johannesburg 2031. SignalminigBTC (Seychelles) Ltd, Company reg. Co. No.8419176-1 with registered address Room S203A, Second Floor, Orion Complex, Victoria, Mahe, Republic of Seychelles. SignalminigBTC Fintech Services Ltd, Company reg. ?? 3482</p>
                    </div>
                        </div>
            <div class="shadow-sm bg-white p-3 p-md-5 rounded-lg">
                <h3 class="font-weight-bold mb-5">Get in Touch!</h3>
            <div class="alerter">  <div>
    </div>
<div>
            <div>
    </div>


<div>
   
   </div> 
            <!-- <script type="text/javascript" src="temp/custom/js/mail.js"></script> -->
            <form method="POST" action="#" id="contactform">
          <input type="hidden" name="_token" value="mSf1VjP9Kudg626ydDFpOHormAD4ZfiAQuaU81SS">                        <select name="subject" class="custom-select mb-3 wow slideInLeft">
                            <option value="Finance Question">Finance Question</option>
                            <option value="Technical Question">Technical Question</option>
                        </select>
                    
      <div class="input-group mb-3 wow slideInLeft">
                    <input type="text" name="name" placeholder="Name" required class="form-control" value="">
                
                    <input type="text" name="email" placeholder="Email" required class="form-control" value="">
                    </div>				 <div class="form-group">
                        <textarea name="message" placeholder="Message" class="form-control wow slideInLeft" rows="5"></textarea>
                    </div> 
                    <div class="col-12" style="padding:5px 0">
                        <button name="Submit" type="submit" id="sendform" class="btn btn-primary wow slideInLeft">Send</button>
                    </div>
            </form>
            </div>
    
    </div>
    

    




<footer>
	<div class="container">
    <div class="row">
      <div class="col-md-4 py-4">
        <h5>World Experts Vip</h5>
				<div class="divider"></div>
        <p class="mt-4">Sound Management Practices; Competent & Credible Traders; User Friendly Policies, Procedures and Systems;Proactive Service Philosophy and Strategy; Multiple Support Channels; </p>
      </div>
      <div class="col-md-4 py-4">
        <h5>Quick Links</h5>
				<div class="divider"></div>
        <div class="mt-4 row">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/"><i class="fas fa-angle-double-right mr-1"></i> Home</a></li>
              <li class="mb-2"><a href="/about"><i class="fas fa-angle-double-right mr-1"></i> About</a></li>
              <li class="mb-2"><a href="/services"><i class="fas fa-angle-double-right mr-1"></i> Services</a></li>
              <li class="mb-2"><a href="/faqs"><i class="fas fa-angle-double-right mr-1"></i> FAQ</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/login"><i class="fas fa-angle-double-right mr-1"></i> Login</a></li>
              <li class="mb-2"><a href="/register"><i class="fas fa-angle-double-right mr-1"></i> Register</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-4">
        <h5>Contact</h5>
				<div class="divider"></div>
        <ul class="list-unstyled mt-4">
          <li class="mb-2"><a href="support@signalsmine.org" class="text-light"><i class="fas fa-envelope"></i> support@SignalminigBTC.com</a></li>
        </ul>
      </div>
    </div>
    <hr style="border-color: #ddd;">
    <p class="mb-0 mt-4 wow slideInLeft text-center">Copyright © 2024 SignalminigBTC, All Rights Reserved</p>
    <p class="mb-0 wow slideInLeft text-center"><a href="/terms">Terms</a> <span class="mx-3">|</span> <a href="/contact">Privacy</a></p>
  </div>
</footer>
<script src="temp/custom/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$('#slider').slick({
	slidesToShow: 1,
	lazyLoad: 'ondemand',
	slidesToScroll: 1,
	autoplay: true,
	autoplaySpeed: 3000,
	infinite: true,
	arrows: false,
	dots: true
});
$('.sliderteam').slick({
	slidesToShow: 3,
	lazyLoad: 'ondemand',
	slidesToScroll: 3,
	autoplay: false,
	autoplaySpeed: 3000,
	infinite: true,
	arrows: false,
	dots: false,
	responsive: [
    {
      breakpoint: 645,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },]
});
$('#testimonial-slider').slick({
	slidesToShow: 1,
	lazyLoad: 'ondemand',
	slidesToScroll: 1,
	autoplay: true,
	arrows: false,
	autoplaySpeed: 3000,
	infinite: true,
	dots: true
});
</script>

<div id="google_translate_element" style="display:none"></div>
<script type="text/javascript">

function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: "en"}, 'google_translate_element');
}

function changeLanguageByButtonClick() {
  var language = document.getElementById("language").value;
  var selectField = document.querySelector("#google_translate_element select");
  for(var i=0; i < selectField.children.length; i++){
    var option = selectField.children[i];
    // find desired langauge and change the former language of the hidden selection-field 
    if(option.value==language){
       selectField.selectedIndex = i;
       // trigger change event afterwards to make google-lib translate this side
       selectField.dispatchEvent(new Event('change'));
       break;
    }
  }
}

function changeLanguageByButtonClick2() {
  var language = document.getElementById("language2").value;
  var selectField = document.querySelector("#google_translate_element select");
  for(var i=0; i < selectField.children.length; i++){
    var option = selectField.children[i];
    // find desired langauge and change the former language of the hidden selection-field 
    if(option.value==language){
       selectField.selectedIndex = i;
       // trigger change event afterwards to make google-lib translate this side
       selectField.dispatchEvent(new Event('change'));
       break;
    }
  }
}
</script>





<script type="text/javascript" src="../translate.google.com/translate_a/elementa0d8a0d8.html?cb=googleTranslateElementInit"></script>



    <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Function to generate a random name
        function generateRandomName() {
            const names = ["Tony", "Alex", "Emily", "Chris", "Sophia", "Michael", "Olivia", "William", "Ava", "James", "Grace", "Daniel", "Emma", "Joseph", "Mia", "David", "Ella", "Andrew", "Amelia", "Benjamin", "Sophie", "Samuel", "Lily", "Matthew", "Chloe", "Christopher", "Zoe", "John", "Aiden", "Natalie", "Jackson", "Abigail", "Nicholas", "Charlotte", "Ethan", "Madison", "Daniel", "Liam", "Sophie", "Ryan", "Grace", "Nathan", "Avery", "Gabriel", "Hannah", "Dylan", "Evelyn", "Caleb", "Scarlett"];
            const randomIndex = Math.floor(Math.random() * names.length);
            return names[randomIndex];
        }

        // Function to generate a random country
        function generateRandomCountry() {
            const countries = ["USA", "Canada", "UK", "Australia", "Germany", "France", "Italy", "Spain", "Japan", "Brazil", "Mexico", "Argentina", "Russia", "South Korea", "Turkey", "South Africa", "Nigeria", "Egypt", "Kenya", "Saudi Arabia", "Thailand", "Vietnam", "Indonesia", "Malaysia", "Singapore", "New Zealand", "Sweden", "Norway", "Denmark", "Finland", "Netherlands", "Belgium", "Switzerland", "Austria", "Greece", "Portugal", "Ireland", "Poland", "Hungary", "Romania", "Bulgaria", "Croatia", "Serbia", "Slovakia", "Slovenia"];
            const randomIndex = Math.floor(Math.random() * countries.length);
            return countries[randomIndex];
        }

        // Function to generate a random withdrawal amount
        function generateRandomAmount() {
            return (Math.floor(Math.random() * 144000) + 40000); // Random amount between $9387 and $473120
        }

        // Function to display the pop-up
        function displayPopup() {
            const popupContainer = document.getElementById("custom-popupContainer");
            const popupUsername = document.getElementById("popup-username");
            const popupCountry = document.getElementById("popup-country");
            const popupAmount = document.getElementById("popup-amount");

            // Generate random name, country, and amount
            const username = generateRandomName();
            const country = generateRandomCountry();
            const amount = generateRandomAmount();

            // Set content and display the pop-up
            popupUsername.textContent = username;
            popupCountry.textContent = country;
            popupAmount.textContent = amount;
            popupContainer.style.display = "flex";

            // Automatically close the pop-up after 3 seconds
            setTimeout(function() {
                popupContainer.style.display = "none";

                // Display a new pop-up after 2 seconds
                setTimeout(displayPopup, 2000);
            }, 5000);
        }

        // Start the pop-up display loop
        displayPopup();
    });
    </script>


    <div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"en","wrapper_selector":".gtranslate_wrapper","flag_style":"3d"}</script>
<script src="../cdn.gtranslate.net/widgets/latest/float.js" defer></script>




<!--<script type="text/javascript">-->
<!--function googleTranslateElementInit() {-->
<!--  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');-->
<!--}-->
<!--</script>-->

<!--<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>-->

</body>



<!-- Mirrored from worldexpertsvipdextrades.com/contact by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Oct 2024 09:41:31 GMT -->
</html>
